:root {
    --blue-hover: #485769;
}

/* Phần đầu */
.Footer_btn-move-top {
    width: 100%;
    border: none;
    padding: 10px 0;
    color: var(--white);
    background-color: var(--blue);
    font-weight: 500;
    font-size: 1.6rem;
}

.Footer_btn-move-top:hover {
    background-color: var(--blue-hover);
}

/* Phần content */
.Footer_content {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 25px 15% 50px;
}

.Footer_menu_item {
    font-weight: 400;
    margin: 5px 0;
}

.Footer_menu_item_title {
    font-size: 1.7rem;
    font-weight: 600;
}

.Footer_menu_item_a {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.Footer_menu_item_a:hover {
    text-decoration: underline;
}

/* Phần footer */
.Footer_footer {
    border-top: 1px solid var(--gray);
    padding: 20px 0;
    background-color: var(--dark-blue);
    text-align: center;
    display: flex;
    justify-content: center;
}

.Footer_logo {
    width: var(--size-height-logo);
    height: var(--size-width-logo);
    object-fit: contain;
}

.Footer_country {
    text-decoration: none;
    color: var(--white);
    align-self: center;
    border: 1px solid var(--gray);
    padding: 10px 10px;
    cursor: pointer;
}

/* 
    Custom cho menu popper 
    Tên được đặt trong file Footer.js
*/
.Footer_popper_menu {
    overflow: scroll;
    max-height: 400px;
}

.Footer_popper_menu_item {
    padding: 10px;
    font-style: 1.8rem;
    cursor: pointer;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Footer_popper_menu_item:hover {
    background-color: var(--light-blue);
    color: var(--white);
}