body {
    position: relative;
}
.tippy-box {
    z-index: 9999;
}
#header {
    background-color: var(--blue-color-medium);
}
.account__wrapper {
    display: flex;
    gap: 5px;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.account__name {
    text-wrap: nowrap;
}

/*Nav bar*/
.navbar, #sidebar {
    background-image: linear-gradient(var(--blue-color-low)  ,var(--blue-color-high));
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.navbar__link {
    color: #fff;
    --height: 50px;
    --width: 150px;
    --background-color: var(--blue-color-medium);
    --background-color-hover: var(--blue-color-low);
    border-radius: 10px;
}

.navbar__link.navbar__link--clicked {
    background-color: var(--blue-color-low);
}

#main {
    background-color: #e7e9ec;
    height: 100%;
    display: flex !important;
}

.content {
    padding: 50px 0;
    min-height: 100vh;
}

/*Form*/
.filler__block {
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.filler__block ~ .filler__block {
    margin-top: 20px;
}

.filler__heading {
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 1.67;
}

.filter__label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-weight: 400;
    margin: 7px 0;
}

.check {
    position: relative;
}

.check::after, .check::before {
    content: "";
    display: block;
}

.check::after {
    position: absolute;
    display: none;
    top: 4px;
    left: 8px;
    width: 3px;
    height: 10px;
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
    rotate: 45deg;
}

.check:before {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    border: 1px solid #aaa;
}

.check:has(input:checked)::after {
    display: block;
}

.check:has(input:checked)::before {
    background-color: #4BAC4D;
    border-color: #4BAC4D;
}

.filter__date {
    display: block;
    width: 100%;
}

.filter__buttons {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.filter__button {
    flex: 1;
    --height: 40px;
    border-radius: 10px;
    --background-color: var(--blue-color-medium);
    --background-color-hover: var(--blue-color-high);

    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

/*Search*/
.form__search {
    display: flex;
    align-items: center;
}
.form__search-block.filler__block{
    margin-left: auto;
}
.form__search-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.form__search-block input {
    width: 100%;
    margin-left: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #555;
}

.search__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

h1 {
    font-size: 20px;
    font-weight: 600;
}
.button__add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: #4BAC4D;
    color: #fff;
    margin-left: auto;
}
.btn_uploadImg{
    gap: 10px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: #4BAC4D;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_export{
    gap: 10px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: #4BAC4D;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__add:hover, .btn_uploadImg:hover, .btn_export:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button__delete {
    display: none;
}

.search__select {
    outline: none;
    border: none;
    padding: 10px 5px;
}

/*Table*/

.table__wrapper {
    overflow: auto;
    margin-top: 12px;
}

.table {
    width: 100%;

    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

thead {
    background-color: var(--blue-color-high);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.table__row, .table__head {

}

.table__head, .table__checkbox, .table__edit {
    border-right: 1px solid #cccccc;
}

thead th,
tbody td {
    padding: 10px;
    vertical-align: middle;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
    border-top: 1px solid #ddd;
}

tbody .table__row:has(input:checked), tbody .table__row:hover {
    background-color: #e6f8e6;
}
.table__data-edit, .table__data-view {
    text-align: center;
}

.table__data-edit:hover, .table__data-view:hover {
    cursor: pointer;
}
.table__data-id{
    text-align: center;
}
.table__cell {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
}

/*Product form edit info*/
/*.modal {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: unset;*/
/*    height: unset;*/
/*}*/


.modal__product div:has(.modal__product-close) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 10px;

    background-color: var(--blue-color-high);
    color: #fff;
}

.modal__product h1 {
    font-size: 20px;
    text-align: left;

}

.modal__product-close {
    font-size: 20px;
    padding: 10px;
}

.modal__product-close:hover {
    cursor: pointer;
    opacity: 0.5;
}


/*.form__label ~ .form__label {*/
/*    margin-top: 10px;*/
/*}*/

.form__title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    font-weight: 500;
}

.form__detail {
    font-size: 15px;
    padding: 2px;
}

.form__detail + p {
    position: absolute;
    left: calc(100% + 5px);
    z-index: 1;
    top: -5px;
    display: block;
    width: 200px;
    padding: 5px;
    border: 1px solid #5ee95e;
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    line-height: 1.67;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.15s ease-in, opacity 0.15s ease-in;
}

.form__detail:hover + p {
    opacity: 1;
    visibility: visible;
}

.form__select, .form__input {
    flex-basis: 400px;
}

.form__input {
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.form__input:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #ccc;
}

.form__select {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.form__desc .form__title {
    display: inline-block;
}

.form__textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 12px 0;
    font-family: var(--primary-font);
    font-size: 15px;
    line-height: 1.67;
}

.product__form button {
    margin-left: auto;
    --width: 300px;
    --height: 50px;
    border-radius: 10px;
    background-color: #5ee95e;
    font-size: 15px;
    font-weight: 500;
    /*margin-bottom: 34px;*/
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);
    /*float: left;*/
    width: 100%;
    height: 100%;
    overflow: auto;

    /*position: fixed;*/
    /*top: 115px;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.sidebar_active {
    background-image: linear-gradient(to top right,var(--blue-color-high), var(--blue-color-low));
}

.sidebar_blog_1,
.sidebar_blog_2,
.sidebar_blog_3 {
    float: left;
    width: 100%;
    min-height: 100vh;
}

#sidebar ul li a {
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 15px 0;
    margin: 0;
    float: left;
    width: 100%;
}

#sidebar ul li a {
    padding: 15px 25px;
    display: block;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

#sidebar ul li a:hover,
#sidebar ul li a:focus {
    color: rgba(255, 255, 255, 0.95);
}

#sidebar ul.components li {
    position: relative;
}

#sidebar ul.components ul {
    background: #214162;
    padding: 20px 0;
}

#sidebar ul.components ul li a {
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
    padding: 7px 35px;
}

#sidebar ul.components ul li a:hover {
    color: #fff;
    background: transparent;
    padding-left: 45px;
}

#sidebar ul li a i {
    margin-right: 20px;
    width: 15px;
    font-size: 20px;
    float: left;
}

.bottom_sidebar ul li {
    float: left;
    width: 50%;
    list-style: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

td[data-level='WARNING'] {
    background-color: yellow;
}

td[data-level='DANGEROUS'] {
    background-color: #fd6a6a;
}

.tippy-box {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    font-size: 20px;
}

/*Extend base.css*/
.button {
    min-width: var(--width);
    width: unset;
    padding: 0 10px;
}

/*Extend bootstrap*/

.modal{
    z-index: 1055;
}

.progress-container {
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.progress-bar {
    height: 30px;
    width: 0;
    background-color: #76c7c0;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease-in-out;
}
