

.myModal {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 2;
}

.myModal__blur {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.myModal__close {
    height: auto;
    font-size: 20px;
}

.myModal__close:hover {
    cursor: pointer;
    opacity: 0.5;
}

.myModal__body {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 4;
    border-radius: 10px;
    overflow: hidden;
    width: var(--width, 80%);
    display: flex;
    flex-direction: column;
}

.myModal__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px 10px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.myModal__content {
    padding: 20px 10px;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.myModal__footer {
    padding: 20px 10px;
}