body {
    background-color: #f2f6fc;
    color: #69707a;
}


.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.btn-danger-soft {
    color: #000;
    background-color: #f1e0e3;
    border-color: #f1e0e3;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: -100%; /* Start position */
    transition: right 0.5s ease-in-out; /* Animation duration and timing function */
}

.toast.show {
    right: 20px; /* End position */
}